# Carpetas de compilación
target/
build/
bin/

# Archivos de IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Archivos de Eclipse
.classpath
.project
.settings/
.metadata/

# Archivos de Mac
.DS_Store

# Archivos de VS Code
.vscode/